.lfBand{
    justify-content: space-between;
    
}

.choices{
    flex-wrap: wrap;
    justify-content: center;
}

main{
    height: 85vh;
}


.imgChoice{
    width: 30vw;
    height: 30vh;
    margin-left: 1em;
}

.imgChoiceP{
    width: 25vw;
    height: 35vh;
    margin-left: 1em;
}

.choiceText{
    width: 40vw;
    margin-left: 1em;
}

.midleBand{
    height: 85vh;
    width: 100vw;
    
}

.reverse{
    margin-top: 2em;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}