*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: url("../img/wallPaper.jpg");
}

.flex{
    display: flex;
}



h1{
    text-align: center;
    color: brown;
}



.none{
    display: none;
}

